<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>302665489843-invfb140flsbdj7thhernu250icih5eh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.302665489843-invfb140flsbdj7thhernu250icih5eh</string>
	<key>API_KEY</key>
	<string>AIzaSyATXxZZBoatwa2__XlF-hIdCb3T43t4jY0</string>
	<key>GCM_SENDER_ID</key>
	<string>302665489843</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.semiautomatedsoftware.recipedia</string>
	<key>PROJECT_ID</key>
	<string>recipedia-743c6</string>
	<key>STORAGE_BUCKET</key>
	<string>recipedia-743c6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:302665489843:ios:c6904a64dfa72200da7fc6</string>
</dict>
</plist>