<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Recipedia</title>
  </head>
  <body>
    <h1>Welcome to Recipedia's Backend Server</h1>
    <h4>Made By</h4>
    <ul>
      <li>1MS18CS025, Aravind Shreyas Ramesh</li>
      <li>1MS18CS040, Dheeraj Bhat</li>
      <li>1MS18CS043, Divya</li>
      <li>1MS18CS046, Gaurav V</li>
    </ul>
    <h4>API Endpoints</h4>
    <ul>
      <li>
        <a target="_blank" href="/personalised-recipes">Personalised Recipes</a>
        <p></p>
      </li>
      <li>
        <a target="_blank" href="/mock-personalised-recipes"
          >Mock Personalised Recipes</a
        >
        <p></p>
      </li>
      <li>
        <a target="_blank" href="/all-ingredients">All Ingredients</a>
        <p></p>
      </li>
      <li>
        <a target="_blank" href="/veg-ingredients">Only Veg Ingredients</a>
        <p></p>
      </li>
      <li>
        <a target="_blank" href="/non-veg-ingredients"
          >Only Non-Veg Ingredients</a
        >
        <p></p>
      </li>
    </ul>
  </body>
</html>
